<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.testcase.logintestcase"/>
        <class name="com.testcase.addtestcase"/>
          <class name="com.testcase.bjaddtestcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
